@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
FcDeleteRow {
  size: 26px;
}
FcDeleteRow:hover {
  cursor: pointer;
}

.hero {
  -webkit-animation: updown 3s linear infinite;
          animation: updown 3s linear infinite;
  position: absolute;
  right: 0;
}

@-webkit-keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.Home {
  min-height: 100vh;
  background-image: url("../Assests/images/mars.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  cursor: pointer;
  outline: none;
  padding: 0.75rem 1.25rem;
  border-radius: 12px;
  font-size: 1rem;
  font-family: inherit;
  background: rgb(162, 162, 246);
  color: rgb(29, 29, 29);
  border: 1px solid transparent;
  transition: 0.3s ease all;
  width: 20%;
}

.add-ration {
  width: 50vw;
  margin: 0 auto;
}
.add-ration form input {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
  background-color: #1D1D1D;
  color: aliceblue;
  border: 2px solid #5da93c;
}
.add-ration form label {
  font-size: 20px;
  color: #5da93c;
  font-weight: 700;
  margin-top: 20px;
}

.inventory {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

/* Zebra striping */
tr:nth-of-type(odd) {
  background: rgb(214, 152, 152);
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td,
th {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: left;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  main {
    overflow-y: auto;
  }
  .hero {
    display: none;
  }
  .add-ration form label {
    font-size: 16px;
    margin: 0;
  }
  .home-txt {
    font-size: 23px;
    width: 90%;
    margin: 60px auto;
  }
  /* Force table to not be like tables anymore */
  table,
thead,
tbody,
th,
td,
tr {
    display: block;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  tr {
    border: 1px solid #ccc;
  }
  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }
  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  /*
  Label the data
  */
  td:nth-of-type(1):before {
    content: "Packet Id ";
  }
  td:nth-of-type(2):before {
    content: "packet Type";
  }
  td:nth-of-type(3):before {
    content: "Packet Content ";
  }
  td:nth-of-type(4):before {
    content: "Calories";
  }
  td:nth-of-type(5):before {
    content: "Calories";
  }
  td:nth-of-type(6):before {
    content: "Quantity(L)";
  }
  td:nth-of-type(7):before {
    content: "Delete";
  }
}/*# sourceMappingURL=App.css.map */